/*header {
    position: fixed;
    width: 100%;
}*/
:root {
    --mainColor: #dc3545;
}
html, body {
    font-size: 1.1rem;
    font-family: 'Titillium Web', sans-serif !important;
    font-weight: 700 !important;
}
*
body h3, h6 {
    font-weight: 700 !important;
}
#icon {
    width: 70px;
}
#hero {
    color: rgb(235, 235, 235) !important;
    background: linear-gradient(-45deg, var(--mainColor), #2ab9ec, var(--mainColor), var(--mainColor));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
#project-btn:hover {
    color: var(--mainColor) !important;
}
#about-btn:hover {
    color: var(--mainColor) !important;
}
.link {
    text-decoration: underline;
    color: rgb(235, 235, 235);
}
.link:hover {
    border-radius: 3px;
    background-color: white;
    color: var(--mainColor);
}
.project-img {
    width: 100%;
    height: 225px;
}
#coronadapp-logo {
    background: url("../../img/logov1.png") no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
#adsgen-logo {
    background: url(https://lh3.googleusercontent.com/nupo3HWMIUeuul9r2IBSfpBo568bL-STG9nA71dUuW97DnhAXFgm2WWjczhTFqRHQZRf5VA-_PmxIZaIAXhOUrzfr5unPjFuW9za=w0) no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
}
.project-img img {
    width: 60%;
    height: 100%;
}
#logo-container {
    margin-left: 94.5px;
    margin-bottom: 10px;
    width: 500px;
    height: 90px;
}
#schmel-logo {
    height: 130px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
#schmel-logo:hover {
    height: 140px;
}
.about-img {
    text-align: center;
}
.about-img img {
    height: 60%;
    width: 60%;
    background-color: #475258;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.about-img img:hover {
    background-color: #9e2933;
}
.about-img small {

}
#jumbotron-row {
    margin-bottom: 10px;
}
#about p {
    font-size: 19px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
}
#about p a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}
#about p a:hover {
    background-size: 4px 50px;
    color: white;
}

/* BOOTSTRAP CUSTOMS */
#navbar-links a:hover {
    color: #6c757d!important;
}
.row {
    margin-top: 10px;
}

/* KEYFRAMES & Mobile Responsivness */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media screen and (max-width: 375px) {
    .img-fluid {
        max-height: 75px !important;
    }
}